*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    left:0;
    bottom: 0;
    width: 100%;
    background-color: rgba(32,32,32,0.7);
    color: whitesmoke;
    position: fixed;
}
.footer_container{
    margin: 0;
    padding: 2px 0px;
    text-align: center;
}
p{
    text-align: center;
}
